<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔒</text></svg>">
    <title>OpenSesame</title>
</head>

<body>
    <main id="app">
        <div v-if="!authenticated" class="p-center center-content">
            <h1 class="with-shadow">OpenSesame 🔒</h1>
            <div style="margin: 15px;" class="center-content">
                <div>Please authenticate yourself:</div>
                <form v-on:submit="authenticate" action="/">
                    <input type="password" required v-model="key" spellcheck="false" placeholder="Password" name="authpw" class="txt-field" autofocus>
                    <div v-effect="$el.textContent = error" class="error"></div>
                </form>
            </div>
        </div>
        <div v-else>

        </div>
    </main>
</body>
<script src="/static/vendor/kdbxweb.min.js" type="text/javascript"></script>
<script src="/static/vendor/petite-vue.iife.js" type="text/javascript"></script>
<script src="/static/app.js" type="text/javascript"></script>

</html>