<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔒</text></svg>">
    <title>OpenSesame</title>
</head>

<body>
    <main id="app">
        <div v-if="!authenticated" class="p-center center-content">
            <h1 class="with-shadow">OpenSesame 🔒</h1>
            <div class="center-content spaced">
                <div>Please authenticate yourself:</div>
                <form v-on:submit="authenticate" action="/">
                    <input type="password" required spellcheck="false" placeholder="🔑" name="authpw" class="txt-field" autofocus>
                    <div class="error">{{ error }}</div>
                </form>
            </div>
        </div>
        <div v-else>
            <div v-if="!db" class="p-center center-content">
                <h1 class="with-shadow">🔑 Decryption 📜</h1>
                <div class="center-content spaced">
                    <div>Key to decrypt the db:</div>
                    <form v-on:submit="decryptDB" action="/">
                        <input type="password" required spellcheck="false" placeholder="🔑" name="decryptpw" class="txt-field" autofocus>
                    </form>
                    <div class="error">{{ error }}</div>
                </div>
            </div>
            <div v-else class="view">
                <button class="btn mobile-helper center-content" @click="showSidebar = !showSidebar">👁️</button>
                <div class="entries" v-bind:class="{ msidebar: showSidebar }">
                    <div>
                        <button @click="openLogs" class="btn logs-btn">
                            Logs 📜
                        </button>
                    </div>
                    <div class="center-content r-flex" style="align-items: initial;">
                        <input class="search" placeholder="🔎" spellcheck="false" type="text">
                        <button class="add" @click="addEntry">
                            ➕
                        </button>
                    </div>
                    <div class="entries-l">
                        <div @click="viewEntry(entry)" v-for="(index,entry) in db" class="entry">
                            {{ entry }}
                        </div>
                    </div>
                </div>
                <div class="expand">
                    <div v-if="!currentEntry && !showSidebar" class="expand center-content">
                        <h2 class="faded">No entry selected</h2>
                    </div>
                    <div v-if="currentEntry && !showSidebar">
                        <div class="entry-details">
                            <div class="center-content r-flex" style="justify-content: space-between;">
                                <div>&nbsp;</div>
                                <input class=" invisible-input" spellcheck="false" @change="updateEntryName" type="text " :value="currentEntry">
                                <button class="btn del-btn" @click="deleteEntry(currentEntry)">
                                    🗑️
                                </button>
                            </div>
                            <hr>
                            <div>
                                <div v-for="(index,field) in db[currentEntry].fields" class="field-input">
                                    <div v-if="db[currentEntry].fields[field].type == 'text'" @click="copyText(db[currentEntry].fields[field].value)" class="labolo ">{{ field }}</div>
                                    <div v-if="db[currentEntry].fields[field].type == 'protected'" @click="copyText(atob(db[currentEntry].fields[field].value))" class="labolo ">{{ field }}</div>
                                    <div v-if="db[currentEntry].fields[field].type == 'file'" class="labolo ">{{ field }}</div>
                                    <div class="field-data-m">
                                        <input class="db-field" v-if="db[currentEntry].fields[field].type == 'text'" @change="updateDB" spellcheck="false" type="text" v-model="db[currentEntry].fields[field].value">
                                        <input class="db-field" v-if="db[currentEntry].fields[field].type == 'protected'"  @change="updatePasswordField(event,field)" spellcheck="false " type="password" placeholder="•••••••••••••••••">
                                        <div class="center-content" style="width: 100%;" v-if="db[currentEntry].fields[field].type == 'file'">
                                            <div @click="downloadFile(db[currentEntry].fields[field])" class="btn f-mobile" v-if="db[currentEntry].fields[field].type == 'file'">
                                                {{ db[currentEntry].fields[field].fileName }} 📁
                                            </div>
                                        </div>
                                        <div @click="deleteField(field)" class="del-field">
                                            ❌
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 10px;">
                                    <h5 class="faded">Created on {{ formatTimestamp(db[currentEntry].created) }}</h5>
                                </div>
                                <div class="center-content">
                                    <transition name="fade">
                                        <add-field-form ref="addField" v-if="showAddFieldMenu" :submit="addField"></add-field-form>
                                    </transition>
                                    <div @click="showAddFieldMenu = !showAddFieldMenu" class="expand-add">
                                        <span v-if="showAddFieldMenu">↑</span>
                                        <span v-else>↓</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <transition name="fade">
                    <div v-if="notification" class="notifications center-content">
                        {{ notification }}
                    </div>
                </transition>
            </div>
        </div>
    </main>
</body>
<script src="/static/vendor/crypto-js.js " type="text/javascript "></script>
<script src="/static/vendor/vue.js " type="text/javascript "></script>
<script src="/static/app.js " type="text/javascript "></script>

</html>