* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    color: white;
    font-family: Arial, sans-serif;
}

body {
    background: hsl(0, 1%, 17%);
}

.with-shadow {
    text-shadow: 3px 4px 2px hsl(0, 0%, 0%);
}

.p-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt-field {
    border: 0px;
    font-size: 17px;
    padding: 3px;
    border-radius: 3px;
    margin: 7px;
    color: black;
    outline: none;
    text-align: center;
}

.error {
    text-align: center;
    color: rgb(194, 28, 28);
}

.btn {
    border: 1px solid black;
    background: white;
    color: black;
    padding: 3px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
}

.btn:hover {
    background: rgb(194, 194, 194);
}

.btn:active {
    background: rgb(156, 156, 156);
    transform: translateY(1px);
}

.entries {
    text-align: center;
    background: rgb(82, 87, 82);
    height: 100vh;
    width: 15%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.entries-l::-webkit-scrollbar {
    display: none;
}

.entries-l {
    text-align: left;
    margin-top: 10px;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.entry {
    margin-top: 5px;
    font-weight: bold;
    background: rgba(235, 233, 233, 0.171);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 6px;
    transition: 0.1s;
}

.entry:hover {
    background: rgba(158, 158, 158, 0.726);
}

.entry:active {
    background: rgba(126, 125, 125, 0.726);
    transform: translateY(2px);
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.search {
    border: 0px;
    outline: none;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 3px;
}

.expand {
    width: 100%;
    height: 100vh;
}

.faded {
    opacity: 0.3;
}

.add {
    background: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 16px;
    border: 0px;
    padding: 2px;
    cursor: pointer;
    transition: 0.1s;
}

.add:hover {
    background: rgb(230, 228, 228);
}

.add:active {
    background: rgb(189, 188, 188);
    transform: translateY(1px);
}